#search-q{
    display: flex;
    width: 90%;
    border-radius: 2px 0 0 2px;
}

#search{
    display: flex;
    flex:1;
}

#submit{
    cursor: pointer;
    width: 65px;
    border-radius: 0 2px 2px 0 !important;
    margin: 0;
}

